/* 1.Base */
html {
    background-color: #fff;
    background-attachment: scroll;
    background-image: url("/images/background.jpg");
    background-position: center;
    background-size: cover;
    color: #000000;
    font-family:"Dosis",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 16px;
    height: auto; /*needs reviewing*/
    left: 0;
    line-height: 1.4;
    min-width: 300px; /*what about viewers with smaller screens?*/
    overflow-x: hidden;
    right: 0;
    width: 100%;
}
body {
    margin: 0px 15px;
    overflow-x: hidden;
}
a {
    color: currentColor;
    cursor: pointer;
    text-decoration: underline;
}
/* 2.Specific */
/* 2a.Home Page */
.main-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-nav ul {
     align-items: center;
     background-color:#ff781f;
     display: flex;
     height: 50px;
     justify-content: space-evenly;
     margin-top: 0px;
     width: 100vw;
 }
 .main-nav ul li {
     display: inline-block;
 }
 .main-nav ul li a {
     color: #fff;
     text-decoration: none;
 }
 .main-content {
     font-size: 1.5rem;
     margin-bottom: 20px;
     text-align: center;
 }
 .main-content ul {
     list-style: none;
 }
 figcaption {
     border-bottom: 3px solid #ff781f ;
     border-top: 3px solid #ff781f ;
     color: #ff781f;
     font-family: "Acme";
     font-size: 1.5rem;
     margin-bottom: 10px;
 }
 .motto {
     font-family: "Permanent Marker";
 }
 /* 2b.Menu */
 .menu-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*2c.Blog*/
article h1 {
    text-decoration: underline;
}
/* .blog-body {
    background-image: url("/images/blog-background.jpg");
    background-position: center;
    background-size: cover;
    margin: 0px 15px;
    left: 0;
    overflow-x: hidden;
    right: 0;
    width: 100%;
} */
.blog-item {
    padding: 20px;
}
/* 2d.Contact */
.contact-wallpaper {
    align-items: center;
    background-image: url("/images/contact-background-1.jpg");
    background-size: cover;
    display: flex;
    height:100vh;
    justify-content: center;
    left: 0;
    right: 0;
    width: 100%;
}
.contact-info {
    background-color: #fff;
    font-weight: 900;
    opacity: 0.8;
}
.contact-info p {
    font-size: 1.5rem;
    padding:20px;
}
.social {
    text-align: left;
    list-style: none;
}
.social li {
    /* display: inline-block; */
    margin-right: 15px;
    font-size: 1.5rem;
}
/* covid-info */
.covid-info {
    align-items: center;
    background-color:#47b881 ;
    display: flex;
    height:auto;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}
/* 3.responsiveness */
/* @media screen and (max-width:425px) {
    .main-nav ul {
        align-items: center;
        flex-direction: column;
        height: auto;
        justify-content: center;
        text-align: center;
    }
    .main-nav ul li {
        display: block;
    }
} */